DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
DATABASE_URL_NON_POOLING=postgresql://postgres:postgres@localhost:5432/postgres
NEXT_PUBLIC_SUPABASE_URL=your-supabase-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key
OPENAI_API_KEY=sk***
